{% import "macros.html" as macros%}
<a
  id="navFBT"
  href="http://study.friendsbt.com/#/schools"
  {% if active_tab == 'tags' %}class="on"{% endif %}
  >校园星空</a>
<a
  id="navTags"
  href="{% url tags %}"
  {% if active_tab == 'tags' %}class="on"{% endif %}
><i class="fa fa-tag"></i>&nbsp{% trans %}tags{% endtrans %}</a>
{% if settings.GROUPS_ENABLED %}
<span class="dropdown groups-dropdown">
<a
  id="navGroups" 
  {% if active_tab == 'groups' %}class="on"{% endif %}
  href="{% url groups %}" data-target="#" >
  {% trans %}people & groups{% endtrans %}
</a>
</span>
{%else%}
<a 
  id="navUsers"
  href="{% url users %}"
  {% if active_tab == 'users' %}class="on"{% endif %}
><i class="fa fa-user"></i>&nbsp{% trans %}users{% endtrans %}</a>
{% endif %}
{% if settings.BADGES_MODE == 'public' %}
<a 
  id="navBadges"
  href="{% url badges %}"
  {% if active_tab == 'badges' %}class="on"{% endif %}
><i class="fa fa-circle"></i>&nbsp{% trans %}badges{% endtrans %}</a>
{% endif %}
